body {
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    color:#40514E;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
    }

h1 {
    font-family: 'Sacramento', cursive;
    font-size:90px;
    color:#678983;
}

h2 {
    color:#678983;
    font-family: 'Cantarell', sans-serif;
    font-size: 2.5rem;
    font-weight:normal;
    padding-bottom:15px;
    }

h3 {
    font-family: 'Montserrat', sans-serif;
    color:#678983;
    margin-left:500px;
    margin-right:500px;
}

p {
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    line-height:2;
    color:#40514E;
    margin-left:500px;
    margin-right:500px;
}

hr {
    border-style:dotted;
    border-top:none;
    border-right:none;
    border-left:none;
    border-width:7px;
    color:#EAF6F6;
    height:5px;
    padding:30px;
    width:4%;
    }

.footer-link {
    line-height:2;
}

.row-one-paragraph {
    text-align:left;
    font-family: 'Montserrat', sans-serif;
    color:#40514E;
    margin-left:500px;
    margin-right:660px;
}

.row-two-paragraph {
    text-align:right;
    font-family: 'Montserrat', sans-serif;
    color:#40514E;
    margin-left:660px;
    margin-right:500px;
}

.container-one {
    background-color:#F0E9D2;
    padding-top:150px;
    position:relative;
    text-align:center;
}

.cloud-left {
    position:absolute;
    left:430px;
    top:550px;
}

.cloud-right {
    position:absolute;
    right:450px;
    top:100px;
}

.mountain {
    position:relative;
    margin-bottom:0px;
}

.container-two {
    padding-top:50px;
    position:relative;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}

.Marcela {
    width:250px;
    padding-bottom:30px;
}

.container-three {
    padding-top:50px;
    position:relative;
    text-align:center;
}

.work {
    width:100px;
}

.container-four {
    padding-top:50px;
    position:relative;
    text-align:center;
}

.container-five {
    padding-top:50px;
    padding-bottom:50px;
    position:relative;
    text-align:center;
}

.languages {
    width:7%;
    float:left;
    margin-left:500px;
    margin-right:30px;

}

.coding {
    width:7%;
    float:right;
    margin-right:500px;
    margin-left:30px;
}

.concert {
    width:7%;
    float:left;
    margin-left:500px;
    margin-right:30px;
}

.reading {
    width:7%;
    float:right;
    margin-right:500px;
    margin-left:30px;
}

.dancing {
    width:7%;
    float:left;
    margin-left:500px;
    margin-right:30px;
}

.caligraphy {
    width:7%;
    float:right;
    margin-right:500px;
    margin-left:30px;
}

.row-one {
    text-align:left;
    line-height:2;
}

.row-two {
    text-align:right;
    line-height:2;
}

.container-six {
    position:relative;
    text-align:center;
    background-color: #F0E9D2;
    color:#678983;
    padding-top:50px;
    padding-bottom:20px;
    word-spacing:1.5rem;
}

.footer {
    font-weight:bold;
    font-size: 0.75rem;
    word-spacing:normal;
    padding-top:30px;
}

.footer-link {
    display:inline;
    font-size:0.90rem;
    font-weight:bold;
    color:#678983;
    padding-top:20px;
}

a:link {
    text-decoration:none;
}

a:hover {
    color:#8db8b0;
}

.h3-footer {
    line-height:2;
    color:#40514E;
    font-weight:normal;
}

.btn {
    background: #e0d6bc;
    background-image: -webkit-linear-gradient(top, #e0d6bc, #ebdfb9);
    background-image: -moz-linear-gradient(top, #e0d6bc, #ebdfb9);
    background-image: -ms-linear-gradient(top, #e0d6bc, #ebdfb9);
    background-image: -o-linear-gradient(top, #e0d6bc, #ebdfb9);
    background-image: linear-gradient(to bottom, #e0d6bc, #ebdfb9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Cantarell', sans-serif;
    color: #678983;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #ebddb0 2px;
    text-decoration: none;
    margin-top:50px;
}

.btn:hover {
    background: #f5e6c7;
    text-decoration: none;
}